sys-menulist-api1/src/main/mule/sys-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="sys-logicFlow" doc:id="bf84bd9a-9959-4943-a809-f443296bd3d9" >
		<http:request method="GET" doc:name="Request" doc:id="57573a03-f395-4c6e-aa47-3094fd06a750" url="https://run.mocky.io/v3/9a3a2ebf-b73d-4acc-a9a3-9558a61f755a">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"clientSecret" : "surya",
	"clientID" : "123"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="4cd95e17-792b-4876-855c-211f618a8946" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
