prc-menulist-api1/src/main/mule/prc-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="prc-logicFlow" doc:id="85b09bfc-6a63-4552-8c94-8aa0b295eaf6" >
		<http:request method="GET" doc:name="Request" doc:id="37b4ce27-2530-4b42-ae64-151a8c3d41fb" path="/sys-menulist" config-ref="HTTP_Request_configuration">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"clientSecret" : "surya",
	"clientID" : "123"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="98e0499e-f44c-48ea-9d2d-707579a36676" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.data map (
    {
        "CategoryRefId" : $.CategoryRefId,
        "ItemId": $.ItemId,
        "Title": $.Title,
        "Price": $.Price,
        "DiscountedPrice": $.DiscountedPrice,
        "Time": now()
    }
)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
