exp-menulist-api-v0/src/main/mule/exp-logic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="exp-logicFlow" doc:id="968c27ee-9299-49fd-8adf-baf379d18063" >
		<http:request method="GET" doc:name="Request" doc:id="c0955765-7f32-4eff-b88c-2ae96be87cc6" path="/prc-menulist" config-ref="HTTP_Request_configuration1">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"clientSecret" : "surya",
	"clientID" : "123"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="a4823518-3906-4798-b29b-daff149b829f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
